@font-face {
  font-family: "Fira GO";
  src:
    url("/fonts/FiraGO-Regular.woff2") format("woff2"),
    url("/fonts/FiraGO-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Fira GO";
  src:
    url("/fonts/FiraGO-Bold.woff2") format("woff2"),
    url("/fonts/FiraGO-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
    font-family: "Fira GO", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 0;
}

* {
  font-family: "Fira GO", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  max-width: unset;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel-control-next {
  justify-content: flex-end !important;
  right: 34px !important;
}
